body {
    width: 100%;
}
a {
    text-decoration: none;  
}
.logo {
    width: 15px;
}
.logo-txt {
    font-size: 20px;
}
.nav-left-box {
    float: left;
}
.nav-right-box {
    float: right;
    margin: 0;
}
.nav {
    overflow: auto;
    padding: 20px 15px 5px;
}
.link {
    display: inline-block;
    margin-left: 20px;
}
.link:first-child {
margin-left: 0px;
}
.phones {
    width: 270px;
}
input{
    padding: 10px;
    margin-right: -10px;
}
button{
    padding: 10px;
    background-color: #311F4D;
    color:white;
}
.number {
    padding-top: 200px;
}
.google {
    width: 100px;
}
.right-header-box {
    float: right;
}
.header {
    padding: 100px;
}
.aple {
    width: 100px;
}
.foto {
    display: inline;
    padding-left: 450px;
    padding-top: 10px;
}
.section {
    display:inline-block;
}
.circle {
    display: inline-block;
}
.red {
    width: 70px;
    padding-left: 100px;
}
.style {
    padding-left: 100px;
}
.text {
    padding-left: 100px;
}
.text-txt {
    float: right;
    padding-left: 50px;
}
.properties {
    padding-left: 100px;
    padding-top: 70px;
    overflow: auto;
}
.blue {
    width: 250px;
    padding-right: 20px;
}
.property {
    float: left;
}
.unnamed {
    width: 10px;
}
.unnamed-txt {
    font-size: 15px;
}
.nav-left-box1 {
    float: left;
}
.nav-right-box2 {
    float: right;
    margin-top: -20px;
}
.nav2 {
    overflow: auto;
    padding: 20px 15px 5px;
}
.link2 {
    display: inline-block;
    margin-left: 20px;
}